body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.6;
color: DarkBlue;
}

h1 {
font-size: 28px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
color: Chocolate;
text-shadow: 0.2em 0.2em 0.1em silver;
}

h2 {
color: brown;
}

.postContent h3 {
color: BlueViolet;
font-style: italic;
}

#navigation, #sidebar {
font-weight: bold;
line-height: 3em;
}

footer {
font-size: small;
font-weight: bold;
text-align: center;
line-height: 3em;
}

.sidebar ul {
list-style-image: url('it312/images/icon’);
}

#logo {
width: 100px;
}

p {
color: blue;
}

article p {
font-style: italic;
color: darkgreen;
}